<!-- prettier-ignore -->
<p-dialog
  [header]="header"
  [(visible)]="display"
  [modal]="true"
  [closable]="false"
  >

  <div class="column gap-1" [formGroup] = "productFrom">

      <!--Name-->
    <div class="row gap-025" >
      <span class="price-label">Name:</span>
      <input type="text" formControlName="name" />
    </div>

    <!--Price-->
    <div class="row gap-025">
      <span class="price-label">Price:</span>
      <input type="number" formControlName="price" />
    </div>

    <!--image-->
    <div class="row gap-025">
      <span class="price-label">Image:</span>
      <input type="text" formControlName="image" />
    </div>

    <!--RATING-->
    <p-rating formControlName="rating" iconCancelClass="hidden"></p-rating>

  </div>
  <p-footer>
    <button pButton type="button" icon="pi pi-check" label="Confirm" [class.disabled]="!productFrom.valid" (click)="onConfirm()"></button> 
    <button pButton type="button" icon="pi pi-times" label="Cancel" (click)="onCancel()"></button>    
  </p-footer> 
</p-dialog>
